.places__article-container{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 24px;
    }

@media screen and (min-width: 768px)and (max-width:1024px){}

    .places__article-container{
    padding-bottom: 24px;
    }

@media screen and (min-width: 320px) and (max-width:768px){
    .places__article-container{
    grid-column: unset;
    grid-row: unset;
    padding-bottom: 0px;
    padding-left: 16px;
        }
}