.places__article{
    height: fit-content;
    width: 100%;
    max-width: 984px;
    display: grid;
    grid-template-columns: minmax(411px, 1fr) minmax(448px, 1fr);
    grid-gap: 40px;
    padding-bottom: 30px;
    border: 3px solid salmon;
    row-gap: 30px;
    }


@media screen and (min-width: 768px)and (max-width:1024px){
    .places__article{
        max-width: 720px;
        grid-template-columns: minmax(340px, 1fr) minmax(340px, 1fr);
        grid-gap: 28px;
        padding-bottom: 30px;
        border: 3px solid darkolivegreen;
        }
}


@media screen and (min-width: 320px) and (max-width:768px){}