
@import url(Inter\ Web/inter.css
);

@font-face {
font-family: 'Inter';
font-style:  normal;
font-weight: 100;
font-display: swap;
src: url("Inter-Thin.woff2?v=3.19") format("woff2"),
url("Inter-Thin.woff?v=3.19") format("woff");
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.page{
min-width: 320px;
max-width: 1240px;
background-color: #2A2C2F;
color: white;
font-family: inter;
}